<h1>New conversion</h1>
<%= form_with scope: :number, url: conversions_path, local: true do |form| %>
  <p>
    <%= form.label :value %><br>
    <%= form.text_field :value %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
